.div-1{
    background-color: brown;
    font-size: 40px;
    color:white;
    width: 5000px;
}
.div-1 .img1 {
    width: 550px;
    height: 150px;
}
.div-1 .p1{
    position: absolute;
    top: 9%;
    left: 30%;
    padding: 0;
    margin: 0;
}
.div-1 .p2{
    position: absolute;
    top: 9%;
    left: 40%;
    padding: 0;
    margin: 0;
}
.div2 > h1 {
    position: absolute;
    left: 27%;
    font-family: arial;
}
.div2 > p {
    position: absolute;
    left: 27%;
    top:69% ;
    font-family: arial;
}
.div2 > h2 {
    position: absolute;
    left: 27%;
    top: 100%;
    font-family: arial;
}
.div2 .img{
    width: 1080px;
    height: 1280px;
    position: absolute;
    top: 110%;
    left: 21%;
}
.div2 .p2{
    position: absolute;
    top: 85%;
}
.div2 .h3{
    position: absolute;
    top: 100%;
    left: 21%;
}
.div2 .img1{
    width: 540px;
    height: 540px;
    position: absolute;
    top: 25%;
    left: 35%;
}
.div2 .h4{
    position: absolute;
    top: 220%;
    left: 23%;
}
.div2 .vid3{
    position: absolute;
    top: 230%;
    left: 17%;
}
.div2 .p4{
    position: absolute;
    top: 20%;
    left: 27.4%;
    color: gray;
}
