.div-1{
    background-color: brown;
    font-size: 40px;
    color:white;
    width: 5000px;
}
.div-1 .img1 {
    width: 550px;
    height: 150px;
}
.div-1 .p1{
    position: absolute;
    top: 9%;
    left: 30%;
    padding: 0;
    margin: 0;
}
.div-1 .p2{
    position: absolute;
    top: 9%;
    left: 40%;
    padding: 0;
    margin: 0;
}
.div2 > h1 {
    position: absolute;
    left: 22%;
    font-family: arial;
}
.div2 > p {
    position: absolute;
    left: 22%;
    top:69% ;
    font-family: arial;
}
.div2 > h2 {
    position: absolute;
    left: 22%;
    top: 80%;
    font-family: arial;
}
.div3{
    position: absolute;
    left: 35%;
    top: 25%;
}
.div2 .vid1{
    position: absolute;
    left: 20%;
    top: 90%;
}